%h4 Reply
= form_with(url: reply_message_path) do |f|
  .form-group
    = f.label :subject, class: 'label-control'
    = f.text_field :subject, class: 'form-control', value: "Re: #{message.subject}"
  .form-group
    = f.label :body, class: 'label-control'
    = f.text_area :body, class: 'form-control', rows: 5
  %br
  = submit_tag 'Send Reply', class: 'btn btn-sm btn-primary'
