ID :
= @message.id
%br

Thread ID :
= @message.thread_id
%br

Starred :
= @message.starred
%br

Unread :
= @message.unread
%br

To Email :
= @message.to.map(&:email).join('\n')
%br

From Email :
= @message.from.map{ |from| "#{from.name} <#{from.email}>" }.join('\n')
%br

Date :
= @message.date.to_date
%br

Subject :
= @message.subject
%br

Snippet :
= @message.snippet
%br

Body :
= @message.body.html_safe
%br
