%h4= @folder.display_name
- drafts = @folder.display_name.eql?('Drafts')
- inbox = @folder.display_name.eql?('Inbox')
%table.table{style: "width:100%"}
  %thead
    %tr
      %th ID / Thread ID
      %th From / To
      %th Date
      %th Subject
      %th Snippet
      - if inbox || drafts
        %th Actions
  %tbody
    - @messages.each do |msg|
      %tr
        %td
          = msg.id
          %br
          = msg.thread_id
        %td
          - msg.from.each do |from|
            .badge.badge-success
              = from.name
              %br
              = from.email
          %br
          - msg.to.map(&:email).each do |email|
            .badge.badge-default= email
        %td
          = msg.date.to_datetime.strftime('%Y-%m-%d')
          = msg.date.to_datetime.strftime('%H:%M:%S')
        %td= link_to msg.subject, message_path(msg.id)
        %td= msg.snippet
        %td
          - if drafts
            = link_to 'Send Mail', send_mail_draft_path(msg.id)
          - if inbox
            - if msg.unread
              = link_to 'Mark as Read', mark_as_read_message_path(msg.id)
            - else
              = link_to 'Mark as Unread', mark_as_unread_message_path(msg.id)
