%table.table{style: "width:100%"}
  %thead
    %tr
      %th ID / Thread ID
      %th From / To
      %th Date
      %th Subject
      %th Snippet
      %th Actions
  %tbody
    - @drafts.each do |msg|
      %tr
        %td
          = msg.id
          = msg.thread_id
        %td
          - msg.from.each do |from|
            .badge.badge-success
              = from.name
              %br
              = from.email
          %br
          - msg.to.map(&:email).each do |email|
            .badge.badge-default= email
        %td
          = msg.date.to_datetime.strftime('%Y-%m-%d')
          = msg.date.to_datetime.strftime('%H:%M:%S')
        %td= link_to msg.subject, message_path(msg.id)
        %td= msg.snippet
        %td
          = link_to 'Send Mail', send_mail_draft_path(msg.id)
